@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.625rem; /* Default border radius */
    --background: 39, 100%, 97%; /* Palette cream #FBF8F1 */
    --foreground: 19, 37%, 63%; /* Palette peach #C3937C */
    --card: 45 63% 88%;
    --card-foreground: 19, 37%, 63%; /* Palette peach */
    --popover: 39 100% 95%;
    --popover-foreground: 19, 37%, 63%; /* Palette peach */
    --primary: 29, 44%, 85%; /* Palette cream #EAD9C9 */
    --primary-foreground: 0, 0%, 47%; /* Palette grey #787878 */
    --secondary: 24 40% 88%; /* Soft peach */
    --secondary-foreground: 0, 0%, 14%; /* Palette dark grey #232323 */
    --muted: 28 20% 90%; /* Warm beige */
    --muted-foreground: 0, 0%, 21%; /* Palette dark grey #363636 */
    --accent: 0, 0%, 85%; /* Light grey #D9D9D9 */
    --accent-foreground: 0, 0%, 20%; /* Palette dark grey #353535 */

    /* Text styles */
    --font-body: "Montserrat", sans-serif;
    --font-header: "Cormorant", serif;
    --font-subheader: "Cormorant", serif;

    --text-body-size: 16px;
    --text-body-line-height: 25px;
    --text-body-letter-spacing: 0px;

    --text-header-size: 60px;
    --text-header-line-height: auto;
    --text-header-letter-spacing: 0px;

    --text-subheader-size: 20px;
    --text-subheader-line-height: auto;
    --text-subheader-letter-spacing: 0px;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--primary-foreground));
    font-family: hsl(var(--font-body));
    font-size: var(--text-body);
  }
}
